<!DOCTYPE html>
<html>
<head>
  <meta charset=utf-8 />
  <meta name="viewport" content="width-device-width, initial-scale=1" /> 
  <title>
    {% if page.title %} {{ page.title }} | {% endif %} Kabads - musings, mutterings and murmurings
  </title>
  <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css" rel="stylesheet" />
</head>
<body>
 <div class="container">
	<div class="hero-unit span12"> 
    		
      			<h1>Kabads</h1>
    		<p>Musings, mutterings and murmurings</p><img src="/img/banner.jpg" class="img-rounded" />
 	
<div class="row">
	<div class="span12"> 
		<nav role="navigation">
  		  {% include nav.html %}
    		</nav>
	</div> <!-- ending the span12 class -->

</div><!-- ending the row class -->
<div class="row">
    <div class="span12">
	{{ content }}
	</div> <!--ending the span 8 class -->
</div><!--ending the row class -->
<div class="span12">
<footer>
<iframe src="https://duckduckgo.com/search.html?site=http://kabads.monkeez.org&prefill=Search this site" style="overflow:hidden;margin:0;padding:0;width:408px;height:40px;" frameborder="0"></iframe>

  <p>(c) A Cripps 2011-2016 | All Rights Reserved. </p>
  <p><a rel="license" href="http://creativecommons.org/licenses/by/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by/4.0/88x31.png" /></a><br />This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution 4.0 International License</a>.</p>
    </footer>
 </div> <!-- span12 -->
 </div><!-- ending the container class -->

<script src="//ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
</div><!-- ending the hero-unit class -->

</body>
</html>
